@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll {
  overflow-y: scroll;
  margin-left: calc(100vw - 100%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 85%;
    --secondary-foreground: 0 0% 15%;

    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 15%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 0% 85%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 14%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 28%;
    --muted-foreground: 0 0% 85%;

    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 100%;

    --card: 0 0% 14%;
    --card-foreground: 0 0% 100%;

    --border: 0 0% 28%;
    --input: 0 0% 28%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 14%;

    --secondary: 0 0% 28%;
    --secondary-foreground: 0 0% 85%;

    --accent: 0 0% 28%;
    --accent-foreground: 0 0% 85%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 0% 28%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-screen bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
